

    .roadmap_heading{
            line-height: 43px;
            font-size: 36px;
            font-family: "Raleway-SemiBold";  
            min-height: 80px;
            line-height: 43px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; 
                margin: 0;
    }
    .roadmap_wrapper_padding{
        padding-top: 44px !important;
        padding-bottom: 79px !important;
    }
    .roadmap_subheading{
        font-size: 36px;
        text-align: center;
        line-height: 43px;
    }
    .roadmap_subtext{
        text-align: center;
        max-width: 800px;
        margin: auto;
    }
    .roadmap_card_heading{
        font-size: 20px;
        margin-bottom: 2rem;
        font-family: "Raleway-Regular";
    }
    .roadmap_card_subheading{
        font-size: 16px;
        line-height: 25px;
        margin-top: 2rem;
    }

    .blue_wrapper{
        background:#084E75;
        color:white;
        font-family: 'Raleway-Light'
    }
    .grey_wrapper{
        color:#4A4A4A;
        font-family: 'Raleway-Light'
    }
    .image_cover{
        background-image: url("../../images/Products_Page/SVG/loonum products world map.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
      .image_cover_grey{
        background-image: url("../../images/Our_Story_Page/SVG/loonum our road map grey.svg");
        background-repeat: no-repeat;
        background-position: center;
    }


    