

    .roadmap_heading{
            line-height: 43px;
            font-size: 36px;
            font-family: "GothamMedium"   
    }
    .roadmap_subheading{
        font-size: 36px;
        text-align: center;
        line-height: 43px;
    }
    .roadmap_subtext{
        text-align: center;
        max-width: 800px;
        margin: auto;
    }
    .roadmap_card_heading{
        font-size: 20px;
        margin-bottom: 2rem;
        font-family: "GothamBook";
    }
    .roadmap_card_subheading{
        font-size: 16px;
        line-height: 25px;
        margin-top: 2rem;
    }

    .blue_wrapper{
        background:#084E75;
        color:white;
            font-family: 'GothamLight'
    }
    .grey_wrapper{
        color:#4A4A4A;
            font-family: 'GothamLight'
    }