.tabs_wrapper{
    font-family: "GothamLight";
    color:#084E75;
    background:#fff;
    
.page_heading{
    font-size: 36px;
    line-height: 43px;
}
.heading{
        line-height: 53px;
        font-weight: 300;
        font-size: 36px;
}
.subheading{
    font-size: 24px;
    padding-bottom: 2rem;
    line-height: 30px;
}

.card_heading{
    margin-bottom: 2rem;
    font-family: "GothamBook";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;

}
.card_text{
    line-height: 25px;
    margin-top: 2rem;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    font-family: 'GothamBook';
    
}

.roadmap_section{
    background:#084E75;
    color:white;
}
.page_sub_heading{
    max-width: 931px;
    margin: auto;
}
.responsive_tab_header{
    border-bottom: 1px solid #9b9b9b;
    color: #084E75;
    font-size: 18px;
    font-family: 'gothamMedium';
    text-align: center;
}
.tab_box_heading{
      width: fit-content;
    margin: auto;
    border-bottom: 4px solid #0C7DBA;
    padding: 1rem 0.5rem 0.5rem;
}
.description{
    color:#000000;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    font-family: 'GothamLight';
}
}