.wrapper{
    font-family: "GothamLight";
    color:#084E75;
    background:#fff;
}
.page_heading{
    font-size: 36px;
    line-height: 43px;
}
.heading{
        line-height: 53px;
        font-weight: 300;
        font-size: 36px;
}
.subheading{
    font-size: 24px;
    padding-bottom: 2rem;
    line-height: 30px;
}

.card_heading{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 2rem;
    font-family: "GothamBook";

}
.card_text{
    line-height: 25px;
    margin-top: 2rem;
    font-size: 14px;
    
}

.roadmap_section{
    background:#084E75;
    color:white;
}
.page_sub_heading{
    max-width: 931px;
    margin: auto;
}