@font-face {
    font-family: "Raleway-Medium";
    src: url('./Raleway-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Light";
    src: url('./Raleway-Light.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Raleway-Regular";
    src: url('./Raleway-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url('./Raleway-SemiBold.ttf');
    font-display: swap;
}