@import '../../styles/style';
.heroImg_Wrapper{
    min-height: calc(100vh - 172px);
    background: linear-gradient(270deg, #F0F0F0 , #FFFFFF);
    padding-top: 67px;
}
.white_page_wrapper{
    min-height: 510px;
    background:#fff;
    padding-top: 67px
}
.grey_page_wrapper{
    background: #F2F2F2;
    min-height: 510px;
    padding-top: 67px
}


.heroImg_container_center{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%)
}

.hero_heading{
    color: #0C7DBA;
    font-size: 40px;
    font-weight: 300;
    line-height: 53px;
    min-height: 212px;
    line-height: 53px;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
}
.page_hero_heading{
    color: #0C7DBA;
    font-size: 40px;
    font-weight: 300;
    line-height: 53px;
    min-height: 84px;
    line-height: 53px;
    display: flex;
    align-items: center;
    padding-bottom:25px;
}
.hero_subheading{
  color: $lnm_black;
  font-weight: 300;
  line-height: 30px;
  max-width: 510px;
  font-size: 20px;
}
.hero_subheading-grey{
  color: $lnm_black;
  font-weight: 300;
  line-height: 30px;
  max-width: 575px;
  font-size: 20px;
}
.responsive{
    width: 100%;
    height: auto;
}
.hero_img{
    max-height: 416px;
    max-width: 500px;
    transform: scale(1.2);
}
.hero_page_container{
    .hero-margin-top{
        margin-top:160px;
    }
}
.header-scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -6px;
    z-index: 100;
    transition: transform 0.2s ease-in-out, opacity 0.2s linear 0.2s !important;
}
.margin-image{
    margin-left:auto;
}

    
@media only screen and (max-width: 992px) and (min-width: 767px) {
.hero_page_container{
    .hero-margin-top{
        margin-top:2rem;
    }
}
.margin-image{
    margin:auto;
}
.hero_img{
    transform: scale(1);
}
}
@media only screen and (max-width: 600px) {
    .hero_page_container{
    .hero-margin-top{
        margin-top:3rem;
    }
    .hero_img{
    transform: scale(1);
}
}
  .hero_heading, .hero_subheading{
      text-align:center
  }
  .heroImg_Wrapper{
     min-height: calc(100vh - 120px);
        background: linear-gradient(270deg, #F0F0F0 , #FFFFFF);
    }
.hero_heading, .page_hero_heading{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.heroImg_Wrapper, .white_page_wrapper, .grey_page_wrapper{
    padding-top: 40px
}
.margin-image{
    margin:auto;
}
}


