@import '../../styles/style';
.heroImg_Wrapper{
    height: calc(100vh - 172px);
    background: linear-gradient(270deg, #F0F0F0 , #FFFFFF);
}
.heroImg_container_center{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%)
}
.hero_heading{
    color: $lnm_blue;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 53px;
}
.hero_subheading{
  color: $lnm_black;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
}
.responsive{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
  .hero_heading, .hero_subheading{
      text-align:center
  }
  .heroImg_Wrapper{
     height: calc(100vh - 120px);
    background: linear-gradient(270deg, #F0F0F0 , #FFFFFF);
    }
}