.heroImg__Wrapper{
    height: calc(100vh - 120px);
}
.heroImg {
  background-image: url("../../images/Home_Page/Home_Page_background.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroImg__text_Wrapper{
   position: absolute;
   top: 35%;
   left: 10%;
   font-family: Gotham Light;
   max-width: 500px;
}
.heroImg__text_heading{
    font-family: 'GothamLight';
    font-size: 30px;
    line-height: 53px;
    letter-spacing: normal;
    text-align: center;
}
.heroImg__text_heading_desktop{
    font-family: 'GothamLight';
    font-size: 40px;
    line-height: 53px;
    letter-spacing: normal;
}
.heroImg__text_description{
    font-size: 16px;
    line-height: 25px;
    height: 157px;
    margin-top: 2rem;
    font-family: 'GothamLight';
    text-align: center;
}
.heroImg__text_description_desktop{
    font-size: 16px;
    line-height: 25px;
    height: 157px;
    margin-top: 2rem;
    font-family: 'GothamLight';
    
}


