.wrapper{
    background:#fff;
}
.heading{
    color: #084E75;
    line-height: 53px;
    margin: 0px;
    font-family: 'GothamLight';
    font-weight: 300;
    font-size: 36px;
}
.subheading{
    color: #084E75;
    font-size: 18px;
    font-family: 'GothamLight';
    height: 35px;
    line-height: 22px;
}
.paragraph{
    line-height: 25px;
    color: black;
    max-width: 940px;
    margin: auto;
    font-family: GothamLight;
}