@import '../../styles/style.scss';
.bdp_section {
    min-height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
.heading{
    color: #084E75;
    line-height: 53px;
    margin: 0px;
    font-family: 'GothamLight';
    font-weight: 300;
    font-size: 36px;
}
.subheading{
    color: #084E75;
    font-size: 22px;
    font-family: 'GothamLight';
    height: 35px;
    line-height: 30px;
    padding:0;
}
.paragraph{
    line-height: 25px;
    color: black;
    max-width: 892px;
    margin: auto;
    font-family: 'GothamLight';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
}
}
