@import '../../styles/style.scss';
.bdp_section {
    min-height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
    .padding-tb-96{
            padding-top: 96px;
            padding-bottom: 96px;
    }
    .heading{
        color: #084E75;
        line-height: 53px;
        margin: 0px;
        font-family: 'Raleway-Light';
        font-weight: 300;
        font-size: 36px;
    }
    .paragraph{
        color: black;
        max-width: 892px;
        margin: auto;
        font-family: 'Raleway-Light';
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 25px;
        text-align: center;
        padding-top: 34px !important;
    }
}
@media only screen and (max-width: 600px) {
    .bdp_section {
    .padding-tb-96{
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .heading{
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    }
}

