@import './bootstrap.scss';
@import './variables.scss';
@import './fonts.scss';
@import './global.scss';
/***Fonts****/

$lnm_font15:'15px';
.text-black{
  color:$lnm_black;
}
.bg-darkgrey{
  background:$lnm_darkgrey
}
.bg_blue{
  background:$lnm_lightgrey
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html {
  height: 100%;
  background: #F2F2F2;
}
ul {
  list-style-type: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.arrowIcon {
    border: solid #979797;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px
}

.rightIcon {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a {
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
}
h2.heading{
    color: #084E75;
    line-height: 53px;
    margin: 0px;
    font-family: 'GothamLight';
    font-weight: 300;
    font-size: 36px;
}
.subheading{
    font-size: 24px;
    font-family: 'GothamLight';
    max-width: 600px;
    margin: auto;
    padding-bottom: 2rem;
    line-height: 30px;
}
.paragraph_black{
  font-size: 16px;
  line-height: 25px;
  color: black;
  max-width: 940px;
  margin: auto;
  font-family: 'GothamLight';
}

/****Font-families*****/
.gothamBook{
  font-family: 'GothamBook';
}
.gothamLight{
  font-family: 'GothamLight';
}
.gothamMedium{
  font-family: 'GothamMedium';
}

.slick-slide img {
  margin: auto;
}


/****Idea page ***/
.idea_fullpage{
  height: calc(100vh - 120px);
}
.idea_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
  
}