@import './bootstrap.scss';
@import './variables.scss';
@import './fonts.scss';
@import './global.scss';

body {
  margin: 0;
  font-family: "Raleway-Light", "Raleway-Regular", "Raleway-Medium", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  letter-spacing: 0.5px;;
  background-color: #fff;
  max-width: 1500px;
  margin: auto;
}


/***Fonts****/

$lnm_font15:'15px';
.color-grey{
  color:$lnm_darkgrey;
}
.color-blue{
  color:$lnm_blue;
}
.color-cyan{
  color:$lnm_cyan;
}
.text-black{
  color:$lnm_black;
}
.bg-darkgrey{
  background:$lnm_darkgrey
}
.bg_blue{
  background:$lnm_blue;
}
.bg_white{
  background:$lnm_white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html {
  height: 100%;
  background: #F2F2F2;
}
ul {
  list-style-type: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.arrowIcon {
    border: solid #979797;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px
}

.rightIcon {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a {
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
}
h2.heading{
    color: #084E75;
    line-height: 53px;
    margin: 0px;
    font-family: 'Raleway-Light';
    font-weight: 300;
    font-size: 36px;
}
.subheading{
    font-size: 24px;
    font-family: 'Raleway-Light';
    max-width: 600px;
    margin: auto;
    padding-bottom: 2rem;
    line-height: 30px;
}
.paragraph_black{
  font-size: 16px;
  line-height: 25px;
  color: black;
  max-width: 940px;
  margin: auto;
  font-family: 'Raleway-Light';
}

/****Font-families*****/
.ralewayRegular{
  font-family: 'Raleway-Regular';
}
.ralewayLight{
  font-family: 'Raleway-Light';
}
.ralewayMedium{
  font-family: 'Raleway-SemiBold';
}

.slick-slide img {
  margin: auto;
}


/****Idea page ***/
.idea_fullpage{
  height: calc(100vh - 120px);
}
.idea_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
  
}

.letter1px{
  letter-spacing: 1px;
}
.letterpt5{
  letter-spacing: 0.5px;
}
h1{
   margin: 0px;
}
@media (min-width: 1300px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width:80%;
    }
}
@media (min-width: 1300px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 90% !important;
  }
}
