@import './bootstrap.scss';
$bdm_darkgrey: #4A4A4A;
$bdm_lightgrey:#979797;
$bdm_blue: #0C7DBA;
$bdm_white: #FFFFFF;
$bdm_black:#000000;
$bdm_cyan:#084E75;
/***Fonts****/

$bdm_font15:'15px';
.text-black{
  color:$bdm_black;
}
.bg-darkgrey{
  background:$bdm_darkgrey
}
.bg_blue{
  background:$bdm_lightgrey
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html {
  height: 100%;
  background: #F2F2F2;
}
ul {
  list-style-type: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.arrowIcon {
    border: solid #979797;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px
}

.rightIcon {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a {
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
}