@import '../../styles/style.scss';
.device_wrapper{
    background: $lnm_lightblue;
    color: $lnm_white;
    .heading{
        line-height: 53px;
        font-family: 'GothamLight';
        font-weight: 300;
        font-size: 36px;
         color: $lnm_white;
        
    }
    .subheading{
        font-size: 24px;
        font-family: 'GothamLight';
        max-width: 640px;
        margin: auto;
        padding-bottom: 2rem;
        line-height: 30px;
    }
    .imagestyle{
        width: 100%;
        max-width: 500px;
    }
    .paragraph{
        padding: 2rem 0;
        max-width: 800px;
        margin: auto;
    }
}

