@import '../../styles/style.scss';
.device_wrapper{
    background: $lnm_lightblue;
    color: $lnm_white;
    .vertical_center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .padding-tb-64{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .heading{
        line-height: 43px;
         min-height: 80px;
        font-family: 'Raleway-Light';
        font-weight: 300;
        font-size: 36px;
         color: $lnm_white;
        
    }
    .subheading{
        min-height:58px;
        font-size: 24px;
        font-family: 'Raleway-Light';
        max-width: 728px;
        margin: auto;
        padding-bottom: 30px;
        line-height: 30px;
    }
    .imagestyle{
        width: 100%;
    }
    .imagestyle_web{
        max-height: 270px;
        max-width: 455px;
    }
    .paragraph{
        padding-top: 32px;
        margin: auto;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 25px;
        text-align: center;
        font-family: 'Raleway-Light';
        max-width: 780px;
        min-height: 132px;
    }
}

@media only screen and (max-width: 600px) {
    .device_wrapper{
    .padding-tb-64{
        padding-top: 38px;
    padding-bottom: 38px;
    }
    .heading{
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        min-height: 103px;
        font-size: 30px;
        max-width: 300px;
        margin: auto;
    }
    }
}
