.wrapper{
    color: #084E75;
    .firstname{
        font-size: 30px;
        line-height: 36px;
        padding-top: 1rem;
        font-family: 'gothambook';
    }
    .lastname{
        font-size: 30px;
        line-height: 36px;
        font-family: 'gothambook';
    }
    .designation{
        font-size: 18px;
        line-height: 36px;
        font-family: 'gothamlight';
    }
}