.card_border{
   border:1px solid #979797
}
.card_heading{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 2rem;
    font-family: "GothamBook";

}
.card_text{
    line-height: 25px;
    margin-top: 2rem;
    font-size: 14px;
    
}