.card_border{
   box-shadow: 0 0 13px 4px rgba(0,0,0,0.06);
}
.card_heading{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 26px;
    font-family: "GothamBook";

}
.card_text{
    line-height: 25px;
    font-size: 14px;
    min-height: 125px;
    font-family: "GothamLight";
}
.card_padding{
    padding: 40px 33px 30px;
}
.card_border>img{
    min-width: 159px;
    max-width: 159px;
    height: 120px;
}
.reponsive_image_container{
    max-height: 100%;
    max-width: 100%;
    min-height: 160px;
}
.card_image_size{
    max-width: 160px;
    margin: auto;
}
@media only screen and (min-width: 767px) {
.card_border{
   box-shadow: 0 0 13px 4px rgba(0,0,0,0.06);
    border: 0.5px solid #979797;
}
}