.card_border{
   box-shadow: 0 0 13px 4px rgba(0,0,0,0.06);
    border: 0.5px solid #979797;
}
.card_heading{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 2rem;
    font-family: "GothamBook";

}
.card_text{
    line-height: 25px;
    margin-top: 2rem;
    font-size: 14px;
    
}
.card_border>img{
    min-width: 170px;
    max-width: 170px;
    height: 120px;
}
