@import '../../styles/style.scss';
.sticker{
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
        z-index: 99;
}
.new_sticky{
    border: 1px solid $lnm_lightgrey;
  background: $lnm_white;
}
.success_sticky{
    background: $lnm_blue;
    color: $lnm_white;
}
.container_wrapper{
  
    color: $lnm_black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send_btn{
    color: $lnm_white;
    background: $lnm_blue;
    border-radius: 2px;
    height: 30px;
    width: 170px;
    text-align: center;
    margin: 0 1rem;
    // line-height: 25px;
    cursor: pointer;
    border: transparent;
}
.inputbox{
    height: 26px;
    min-width: 225px;
    margin: 0 1rem;
    padding: 12px;
}
