@import '../../styles/style.scss';
.sticker{
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
        z-index: 99;
}
.new_sticky{
    border: 0.5px solid #a7a7a7;
  background: $lnm_white;
}
.success_sticky{
    background: $lnm_blue;
    color: $lnm_white;
}
.container_wrapper{
  
    color: $lnm_black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emailtext{
    font-family: 'Raleway-Light';
    letter-spacing: 1px;
}
.close_icon{
    position: absolute;
    right: 65px;
}
.send_btn{
    color: $lnm_white;
    background: #0c7dba;
    border-radius: 2px;
    height: 30px;
    width: 100px;
    text-align: center;
    margin: 0 1rem;
    // line-height: 25px;
    cursor: pointer;
    border: transparent;
}
.inputbox{
    height: 26px;
    min-width: 225px;
    margin: 0 1rem;
    padding: 12px;
    border: 1px solid #dcdcdc;
}
input.inputbox::placeholder {
    color: #999;
}
