
.wrapper{
    // background:#fff;
    font-family: 'GothamLight'
}
.padding_tb_62px{
    padding-top: 62px;
    padding-bottom: 62px;
}
.privacy_text{
    font-family: 'GothamLight';
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #084E75;
}
.get_in_touch_wrapper{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'GothamLight';
    color: #084E75;
}
.heading{
        font-size: 36px;
    line-height: 43px;
}
.subheading{
    max-width: 390px;
    margin: auto;
    font-size: 18px;
    line-height: 30px;
}

.loonum_form_control{
    vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  min-height: 43px;
  width:100%;
  border: 1px solid #979797;
  border-radius: 5px;
}
.submit_btn{
    border-radius: 17.5px !important;
    background-color: #F5A623 !important;
    font-size: 19px;
    width: 140px;
    border: none;
    color: #fff !important;
    min-height: 35px;
    width: 140px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.custom-control-label::before {
    top: .25rem;
    left: -1.5rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: none;
}
.custom-control-label::after {
    top: .30rem;
    left: -1.45rem;
    width: 1.2rem;
    height: 1.2rem;
}
.get_intouch_width{
    max-width: 422px;
    margin: auto;
}