@import '../../styles/style.scss';

.location{
  font-family: 'GothamBook';
}
.location_bar{
    height:40px;
    color:$bdm_white;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem; 
    font-size: $bdm_font15;
}
.custom_navbar{
    background-color: #0C7DBA;
    color: #FFFFFF;
    line-height: 40px;
    font-family: 'GothamMedium';
    font-weight: 500;
    .container>nav{
      background-color: #0C7DBA !important;
    }
}
.menu_bar{
   background-color: $bdm_blue;
   color:$bdm_white;
   height: 80px;
    line-height: 80px; 
    font-family: 'GothamMedium';
    font-weight: 500;
    nav{
          height: 80px;
    }
   ul{
      list-style: none;
      display: flex;
      margin: 0px;
      height: inherit;
       li{
            padding: 0 12px;
            a{
           color:$bdm_white;
            }
            span{
           color:$bdm_white;
            }
       }
   }
}


@media screen and (max-width: 769px) {
  // .menu_bar{
  //       ul{
  //       display: none;
  //   }
  // }
}
.active_menu_item {
  padding-bottom: 0;
  border-bottom: 3px solid #F8E71C;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.fixed_header{
    z-index: 9999;
    position: fixed;
    width: 100%;
}

.navbar-dark #navbar-toggler.navbar-toggler {
    color: #fff;
    border-color:none !important;;
}