@import '../../styles/style.scss';
.fixed_header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header_location_bar{
  height: 40px;
  color: $lnm_white;
  background: $lnm_darkgrey;
  font-size: 15px;
  line-height: 36px;
}
.header_navbar_wrapper{
    background-color: #FFFFFF;
    box-shadow: 0 1px 7px 2px rgba(0,0,0,0.13);
    height: 80px;
}
ul.nav-list{
      font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
}
.nav-item>.nav-link{
    display: flex;
    color: $lnm_blue !important;
    font-size: 15px;
}
.active_menu_item {
  padding-bottom: 0;
  border-bottom: 3px solid $lnm_orange;
}
.mobile_navbar{
  height: 60px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.25);
  background: #fff;
  border-top: 1px solid rgba(0,0,0,0.25);
}
