
.year{
    font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: center;
}
.timeline_wrapper{
    color:#fff;
    margin-top:200px;
}
.timeline_grey_wrapper{
    color: #4A4A4A;
    margin-top:200px;
}
.timeline_wrapper_mobile{
    color:#fff;
}
.timeline_wrapper_grey{
    color:#4A4A4A;
}
.icon_roadmap{
    position: absolute;
       
        top: -150px;
    width: inherit;
    z-index: 99;
    text-align: center;
        margin: 0 -15px;
}
.heading_text{
    font-size: 20px;
    font-weight: 300;
}
.responsive {
  width: 100%;
  height: auto;
}
.p-relative{
        position: relative;
}
/***Mobile**/

.mobile_arrow_img::before{
    content: '';
    position: absolute;
    top: 43px;
    left: 10px;
    height: 90%;
    width: 4px;
    background: white;

}
.mobile_arrow_img_grey::before{
    content: '';
    position: absolute;
    top: 43px;
    left: 14px;
    height: 90%;
    width: 2px;
    background: #a7a7a7;

}

.mobile_circle{
    position: absolute;
    transform: rotate(90deg);
        left: 0;
    top: 38px;
}
@media only screen and (min-width: 1025px) {
    .icon_roadmap{
         top: -155px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .icon_roadmap{
         top: -150px;
    }
}

.year_mobile{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-align: center;
}