.wrapper{
    font-family: "Raleway-Light";
    color:#084E75;
    position: relative;
    min-height: 135px;
    padding-top: 35px;
    padding-bottom: 15px;
}
.page_heading{
    font-size: 36px;
    min-height: 53px;
    line-height: 43px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Raleway-Light';
    width: fit-content;
    margin: 0;
}
.page_sub_heading h5{
      font-size: 20px;
      font-weight: 700;
          min-height: 53px;
    display: flex;
    align-items: center;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: Arial;
}
.img_icon{
    position: absolute;
    right: 110px;
    top: 16px;
}
@media only screen and (max-width: 720px) {
    .page_heading, .page_sub_heading{
         text-align: center;
         justify-content: center;
        h5{
            width: fit-content;
            margin: auto;
        }
    }
   
}
