.section_grey{
    background: #f1f1f1;
}
.heading{
        line-height: 53px;
        font-weight: 300;
        font-size: 36px;
}
.h5_subtext{
    line-height: 30px;
    font-size: 20px;
}
.ecommerce_image{
    text-align: center;
    width: inherit;
}
.mobile{
    flex-direction: column-reverse;
}
.ecommerce_image{
        max-height: 500px;
    }
@media only screen and (min-width: 768px) {
    .mobile{
        flex-direction: row;
    }
    .ecommerce_image{
        max-height: 500px;
        margin-top: -50px;
        height: 400px;
        max-width: 800px;
    }
}
