@import '../../styles/style.scss';
footer{
    background: $lnm_darkgrey;
    color: $lnm_white;
    
}
.sansFamily{
    font-family: sans-serif;
}
.small_text{
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
}
.lightgrey{
    color: #bdb8b8 !important;
}
.small_text a {
    color: #bdb8b8 !important;
}
.footer_heading{
    border-top: 2px solid $lnm_white;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding-top: 5px;
}
.border_top{
    border-top: 0.5px solid $lnm_white;
}
.l-height-26{
    line-height: 26px;
}
.privacy_text{
    letter-spacing: 1px;
}
.letter_space{
    letter-spacing: 1px;
}
.margin-top-5{
    margin-top: -5px;
}
.text_uppercase{
    text-transform: uppercase;
}
.forntArial{
    font-family: Arial, Helvetica, sans-serif;
}