.menuBar_wrapper{
    background: white;
    padding: 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: 1px 1px 5px grey;
}
.menu_background{
    background: grey;
    padding: 3rem;
    position: -webkit-sticky;
    position: fixed;
    top: 265px;
    width: 100%;
    width: 100%;
    height: 100vh;
    z-index: 99;
    box-shadow: 1px 1px 5px grey;
    background-color: rgba(0,0,0,0.4);
}
.menu_heading{
    font-family: "GothamMedium";
    line-height: 17px;
    padding-bottom: 8px;
    border-bottom: 1px solid #979797;
    width: 100%;
        margin-bottom: 1rem;
    font-weight: 700;
}
.menu_list{
    font-family: "GothamLight";
    margin-bottom: 1rem;
    >div{
        line-height: 17px;
        padding-bottom: 10px;
    }
}