.page_sub_heading{
    max-width: 931px;
    margin: auto;
}
.wrapper{
    font-family: "GothamLight";
    color:#084E75;
    background:#fff;
}
.responsive_header{
    border-bottom: 4px solid #0C7DBA;
    color: #084E75;
    font-size: 18px;
    font-family: 'gothamMedium';
    text-align: center;
    padding: 1rem 0.5rem 0.5rem;
}